p {
  font-family: 'Francois One', sans-serif;
}

ul {
  background-color: aquamarine;
}

h4 {
  margin-top: 6rem;
  font-size: 1.3rem;
  text-align: center;
  color: #3B3A35;
  font-family: 'Coda Caption', sans-serif
}
